.logo{
    position: absolute;
    top: 500px;
    left: 350px;
    text-align: center;
    font-size: 40px;
    font-family: cursive;
    color: #fff;
}
.menu a{
    
    
    font-size: 18px;
   padding: 0px 60px;
font-family: cursive;
color:#fff;
text-decoration: none;
}